<ion-view view-title="Outings">
<ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button icon ion-ios7-home-outline" ng-click="goHome()"></button>
    </div>
    <h1 class="title">Outings</h1>
    <div class="buttons">
      <button class="button icon ion-ios7-compose-outline"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div>
      <ion-list show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
        <ion-item ng-repeat="item in items"
                  class="item-thumbnail-left"
                  ng-click="openChat()">

          <img ng-src="{{item.img}}">
          <h2>{{item.title}}</h2>
          <p>
            {{item.description}}
          </p>
          <button class="button-icon icon ion-ios-arrow-right" ng-click="openChat()"></button>

          <ion-option-button class="button-info"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="items.splice($index, 1)">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon"
                              on-reorder="reorderItem(item, $fromIndex, $toIndex)">
          </ion-reorder-button>

        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
