<ion-view view-title="History">
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button icon ion-ios7-home-outline" ng-click="goHome()"></button>
    </div>
    <h1 class="title">History</h1>
    <div class="buttons">
      <button class="button icon ion-ios7-compose-outline"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Feature not available in beta</div>
      <div class="item item-body">
        <div>
          Check back <b>soon</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
