<ion-view view-title="Profile">
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button icon ion-ios7-home-outline" ng-click="goHome()"></button>
    </div>
    <h1 class="title">Profile</h1>
    <div class="buttons">
      <button class="button icon ion-ios7-compose-outline"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Gloria Chua</div>
      <div class="item item-body">
        <div>
          Check back <b>soon</b>
        </div>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Price</p>
        <i class="icon ion-ios7-pricetags-outline"></i>
        <input type="range" name="price" min="0" max="100" value="75">
        <i class="icon ion-ios7-pricetags"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Rating</p>
        <i class="icon ion-ios7-star-outline"></i>
        <input type="range" name="rating" min="0" max="100" value="80">
        <i class="icon ion-ios7-star"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Reviews</p>
        <i class="icon ion-ios7-heart-outline"></i>
        <input type="range" name="reviews" min="0" max="100" value="66">
        <i class="icon ion-ios7-heart"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Distance</p>
        <i class="icon ion-ios7-location-outline"></i>
        <input type="range" name="distance" min="0" max="100" value="25">
        <i class="icon ion-ios7-location"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Ambiance</p>
        <i class="icon ion-ios7-musical-note"></i>
        <input type="range" name="ambiance" min="0" max="100" value="50">
        <i class="icon ion-ios7-musical-notes"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Wait time</p>
        <i class="icon ion-ios7-timer-outline"></i>
        <input type="range" name="wait" min="0" max="100" value="50">
        <i class="icon ion-ios7-timer"></i>
      </div>
      <div class="item range range-assertive">
        <p class="slider-title">Health</p>
        <i class="icon ion-ios7-medkit-outline"></i>
        <input type="range" name="health" min="0" max="100" value="60">
        <i class="icon ion-ios7-medkit"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
